<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/app.css">
    <title>YelpCamp</title>
</head>

<body class="d-flex text-center text-white bg-dark">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="mb-auto">
            <div class="d-flex flex-row justify-content-between">
                <h3 class="navbar-brand m-0 col-4">YelpCamp</h3>

                <% if (currUser) { %>
                    <span id="welcome-user" class="d-none d-lg-inline col-4">Welcome, <%= currUser.username %>!</span>
                    <% } %>
                        <nav class="navbar navbar-expand-xl col-4 justify-content-center">
                            <a class="nav-item navbar-toggler dropdown-toggle text-decoration-none" id="navbarDropdown"
                                role="button" data-bs-toggle="dropdown" data-bs-target="navbarDropdown"
                                aria-expanded="false" aria-label="Toggle navigation">
                                Menu
                            </a>
                            <ul class="dropdown-menu collapse navbar-collapse" aria-labelledby="navbarDropdown">
                                <% if (currUser) { %>
                                    <li class="text-center pb-2"><span id="welcome-user"
                                            class="d-lg-none text-white fs-7">Welcome, <%= currUser.username %>
                                                !</span></li>
                                    <% } %>
                                        <a class="nav-link active border-t" aria-current="page" href="#">
                                            <li class="nav-item">Home
                                            </li>
                                        </a>
                                        <a class="nav-link border-t border-lg-none" href="/campgrounds">
                                            <li class="nav-item">Campgrounds
                                            </li>
                                        </a>
                                        <% if (!currUser) { %>
                                            <a class="nav-link border-t" href="/login">
                                                <li class="nav-item">Login</li>
                                            </a>
                                            <a class="nav-link border-t" href="/register">
                                                <li class="nav-item">Register</li>
                                            </a>
                                            <% } else { %>
                                                <a class="nav-link border-t" href="/logout">
                                                    <li class="nav-item">Logout</li>
                                                </a>
                                                <% } %>
                            </ul>
                        </nav>
            </div>
        </header>
        <main class="px-3">
            <h1>YelpCamp</h1>
            <p class="lead">Welcome to YelpCamp!<br> Jump right in and explore our many campgrounds.<br> Feel free to
                share some of your own and comment on others!</p>
            <a href="/campgrounds" class="btn btn-lg btn-secondary fw-bold text-dark bg-white">View Campgrounds</a>
        </main>
        <footer class="mt-auto text-white-50">
            <div class="pb-4">
                <a class="fs-2" href="https://github.com/huiyuank/yelp-camp"><i id="githubIcon"
                        class="bi bi-github text-secondary" role="img" aria-label="GitHub"></i>
                </a>
            </div>
            <p>&copy; YelpCamp 2021</p>
        </footer>
    </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js"
        integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT"
        crossorigin="anonymous"></script>
</body>

</html>